p{
    color:purple;
}
h3{
    background-color: green;
}
.formaInterno{
    color: red;
}
#unico{
    background-color: black;
}
button{
    background-color: white;
    color: green;
}
button:hover{
    background-color: green;
    color: white;
}